IT.Web/Metadata/it-special-dbcheck-config-schema.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Koloto (Ru-Board) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.croc.ru/Schemas/IncidentTracker/DbCheckConfig/1.0" targetNamespace="http://www.croc.ru/Schemas/IncidentTracker/DbCheckConfig/1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="it-special-dbcheck-config-schema.xsd">
	<xsd:element name="dbcheck" type="DbCheckType"/>
	<xsd:complexType name="DbCheckType">
		<xsd:sequence>
			<xsd:element name="config-file" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
